.tag-content {
  font-size: 12px;
}

.tag-wrapper {
  margin-top: 5px;
}

.card-buttons {
  float: right;
}

.ant-card-meta-detail {
  width: 100%;
}

.card-edit-second-button {
  margin-left: 20px;
}

.ant-card-bordered {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

card-option-btn :hover {
  background-color: rgba(44, 146, 239, 0.75);
}