//.ant-tree-iconEle {
//  float: left;
//}
//
//.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
//  opacity: 50%;
//}


.add-folder-modal div div.ant-modal-body {
  padding-bottom: 0;
}

.ant-layout {
  background-color: white;
}

.ant-card-bordered {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}