.h75 {
    height: calc(75vh);
}

// sign-in with google button

.ant-layout {
    background-color: white;
}

.google-button {
    height: 50px;
    width: 350px;
    border-radius: 5px !important;
    border-color: #C4C4C4;
    background-color: white;
    color: black;
    margin: 0 !important;

    &:focus {
        background-color: white;
        border-color: #C4C4C4;
        span {
            color: black;
        }
    }

    &:hover {
        background-color: white;
        span {
            color: black;
        }
    }

    &:not(:hover) {
        span {
            color: black;
        }
    }
}

.google-icon {
    font-size: 16px;
    color: black;
}

//antd tree override start

.ant-tree-node-content-wrapper {
    width: 100%;
}

//.ant-tree-title {
//  display: block;
//  width: 100% !important;
//}

.ant-tree-treenode:hover {
    background-color: rgba(196, 196, 196, 0.3);
}

.ant-tree-treenode {
    //all-tree nodes
    //background: greenyellow;
    width: 100%;
    padding: 4px 0 !important;
    padding-left: 10px !important;
    border-radius: 5px;
}

.ant-tree-switcher_close {
    color: #938686;
}

.ant-tree-switcher_open {
    color: #2C92EF;
}

.ant-tree-switcher:hover {
    color: #2C92EF;
}

.ant-tree-treenode-selected {
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 5px;
}

.ant-tree-treenode-selected .ant-tree-title{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open.ant-tree-node-selected{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open:hover{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close.ant-tree-node-selected{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close:hover{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
    width: 100%;
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal:hover {
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal.ant-tree-node-selected {
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-treenode-leaf-last .ant-tree-node-content-wrapper .tree-folder-title:hover{
    background-color: rgba(196, 196, 196, 0);
}

.ant-tree-node-selected .tree-folder-title {
    font-weight: bold;
}

.selected-node {
    font-weight: bold;
}

.ant-tree  .ant-tree-node-content-wrapper{
    padding: 0;
}

//antd tree override end