@mixin base {
    height: 50px;
    width: 350px;
    border-radius: 5px !important;
}

.form-title {
    text-align: center;
    font-size: 36px !important;
    margin-bottom: 40px !important;
}

.input-field {
    @include base;
    margin-bottom: 20px;
}

.main-button {
    @include base;
    border: none;
    background-color: rgba(25, 144, 255, 0.84) !important;
}

//antd override

.ant-form-item {
    margin-bottom: 0;
}

.ant-input {
    font-size: 16px !important;
}