.filters-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note-wrapper {
  width: 100%;
}

.add-note-icon {
  color: rgba(44, 146, 239, 0.75);
  font-size: 16px;
}

.ant-tag-checkable {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
