.filters-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note-wrapper {
  width: 30px;
}

.add-note-icon {
  color: rgba(44, 146, 239, 0.75);
  font-size: 30px;
}