@mixin base {
  height: 40px;
  width: 25vw;
  border-radius: 5px !important;
}

.input-folder-modal-title {
  @include base;
  margin-bottom: 20px;
}

.input-folder-modal-btns {
  padding-bottom: 20px;
}

.save-btn {
  @include base;
  width: 12vw;
}

.cancel-btn {
  @include base;
  width: 12vw;
  margin-right: 1vw;
}

.ant-modal-content {
  border-radius: 5px;
}